<div class="grid">
    <figure class="effect-layla">
        <img src="/assets/images/img/6.jpg" alt="img06" />
        <figcaption>
            <h2>Crazy <span>Layla</span></h2>
            <p>When Layla appears, she brings an eternal summer along.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-layla">
        <img src="/assets/images/img/3.jpg" alt="img03" />
        <figcaption>
            <h2>Crazy <span>Layla</span></h2>
            <p>When Layla appears, she brings an eternal summer along.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>