<app-nav></app-nav>

<app-imageeffect></app-imageeffect>
<app-better></app-better>
<app-transitionimg></app-transitionimg>
<div class="all">
    <section>
        <div class="container">
            <div class="col-rt-12">
                <div class="content">
                    <h3>Lily</h3>
                    <app-lily></app-lily>

                    <h3>Sadie</h3>
                    <app-sadie></app-sadie>

                    <h3>Honey</h3>
                    <app-honey></app-honey>

                    <h3>Layla</h3>
                    <app-layla></app-layla>

                    <h3>Zoe</h3>
                    <app-zoe></app-zoe>

                    <h3>Oscar</h3>
                    <app-oscar></app-oscar>

                    <h3>Marley</h3>
                    <app-marley></app-marley>

                    <h3>Ruby</h3>
                    <app-ruby></app-ruby>

                    <h3>Roxy</h3>
                    <app-roxy></app-roxy>

                    <h3>Bubba</h3>
                    <app-rubba></app-rubba>

                    <h3>Romeo</h3>
                    <app-romeo></app-romeo>

                    <h3>Dexter</h3>
                    <app-dexter></app-dexter>

                    <h3>Sarah</h3>
                    <app-sarah></app-sarah>

                    <h3>Chico</h3>
                    <app-chico></app-chico>

                    <h3>Milo</h3>
                    <app-milo></app-milo>


                </div>
            </div>
        </div>

    </section>

</div>