<div class="grid">
    <figure class="effect-honey">
        <img src="/assets/images/img/4.jpg" alt="img04" />
        <figcaption>
            <h2>Dreamy <span>Honey</span> <i>Now</i></h2>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-honey">
        <img src="/assets/images/img/5.jpg" alt="img05" />
        <figcaption>
            <h2>Dreamy <span>Honey</span> <i>Now</i></h2>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>