<app-nav></app-nav>

<div class="container">
    <app-carousel></app-carousel>
    <hr>
    <app-carouselanimation></app-carouselanimation>
    <hr>
    <app-carouselslider></app-carouselslider>
    <hr>

    <div class="grid-container grid-container--fit">
        <div class="grid-element">
            <div class="card">

                <img class="mr-3" id="delay" src="/assets/images/about-inset.jpg" alt="Generic placeholder image" class="rounded">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="grid-element">
            <div class="card">
                <img class="mr-3" id="rota" src="/assets/images/about-inset.jpg" alt="Generic placeholder image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="grid-element">
            <div class="card">
                <img class="mr-3" id="flip" src="/assets/images/about-inset.jpg" alt="Generic placeholder image" class="rounded">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerhis is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longerhis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerhis is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="grid-element">
            <div class="card">
                <div class="flip-card ">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">

                            <img class="mr-3" id="flipChange" src="/assets/images/about-inset.jpg" alt="Generic placeholder image" class="rounded">
                        </div>

                        <div class="flip-card-back">
                            <h1>Flipet Good!!!</h1>
                            <p>awesme event</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="grid-element">
            <div class="card">
                <img class="mr-3" src="/assets/images/about-inset.jpg" alt="Generic placeholder image" class="rounded">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="grid-element">
            <div class="card">
                <img class="mr-3" src="/assets/images/about-inset.jpg" alt="Generic placeholder image" class="rounded">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

    </div>





    <hr>

</div>