<div class="grid">
    <figure class="effect-oscar">
        <img src="/assets/images/img/9.jpg" alt="img09" />
        <figcaption>
            <h2>Warm <span>Oscar</span></h2>
            <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-oscar">
        <img src="/assets/images/img/10.jpg" alt="img10" />
        <figcaption>
            <h2>Warm <span>Oscar</span></h2>
            <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>