<section>
    <div class="container">

        <figure class="HoverSnip_1 orange">
            <img src="/assets/images/img/hover6.jpg" alt="" />
            <figcaption>
                <i class="ion-ios-rose"></i>
                <h4>Beautiful</h4>
                <h3>Rose</h3>
            </figcaption>
            <a href="#"></a>
        </figure>

        <figure class="HoverSnip_1">
            <img src="/assets/images/img/hover2.jpg" alt="" />
            <figcaption>
                <i class="ion-bowtie"></i>
                <h4>Ruby </h4>
                <h3>Von Rails </h3>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="HoverSnip_1 green">
            <img src="/assets/images/img/hover3.jpg" alt="" />
            <figcaption>
                <i class="ion-heart"></i>
                <h4>Quiche </h4>
                <h3>Hollandaise</h3>
            </figcaption>
            <a href="#"></a>
        </figure>
        < <figure class="HoverSnip_2">
            <img src="/assets/images/img/hover4.jpg" alt="" />
            <figcaption>
                <h3>HandeCap</h3>
            </figcaption>
            <a href="#"></a>
            </figure>
            <figure class="HoverSnip_3 red">
                <img src="/assets/images/img/hover5.jpg" alt="" />
                <h3>Share</h3>
                <i class="ion-share"></i>
                <a href="#"></a>
            </figure>
            <figure class="HoverSnip_3 blue">
                <img src="/assets/images/img/hover6.jpg" alt="" />
                <h3>Checkmark</h3>
                <i class="ion-checkmark"></i>
                <a href="#"></a>
            </figure>


    </div>

</section>
