<div class="grid">
    <figure class="effect-sarah">
        <img src="/assets/images/img/13.jpg" alt="img13" />
        <figcaption>
            <h2>Free <span>Sarah</span></h2>
            <p>Sarah likes to watch clouds. She's quite depressed.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-sarah">
        <img src="/assets/images/img/20.jpg" alt="img20" />
        <figcaption>
            <h2>Free <span>Sarah</span></h2>
            <p>Sarah likes to watch clouds. She's quite depressed.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>