<div class="grid">
    <figure class="effect-romeo">
        <img src="/assets/images/img/17.jpg" alt="img17" />
        <figcaption>
            <h2>Wild <span>Romeo</span></h2>
            <p>Romeo never knows what he wants. He seemed to be very cross about something.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-romeo">
        <img src="/assets/images/img/18.jpg" alt="img18" />
        <figcaption>
            <h2>Wild <span>Romeo</span></h2>
            <p>Romeo never knows what he wants. He seemed to be very cross about something.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>