<section id="effect">
    <div class="rt-container">
        <div class="col-rt-12">
            <div class="Hvcontainer">

                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/baby-1399332_960_720.jpg');">
                        <div class="one"></div>
                        <div class="details">
                            <h3>Effect #1</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>

                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/boy-1397793_960_720.jpg');">
                        <div class="two"></div>
                        <div class="details">
                            <h3>Effect #2</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/cloves-1367675_960_720.jpg');">
                        <div class="three"></div>
                        <div class="details">
                            <h3>Effect #3</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/girl-1361807_960_720.jpg');">
                        <div class="four"></div>
                        <div class="details">
                            <h3>Effect #4</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/flower.jpg');">
                        <div class="tl5"></div>
                        <div class="br5"></div>
                        <div class="details opticy">
                            <h3>Effect #5</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/gazanie.jpg');">
                        <div class="tl6"></div>
                        <div class="tr6"></div>
                        <div class="bl6"></div>
                        <div class="br6"></div>
                        <div class="details opticy">
                            <h3>Effect #6</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>

                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/girl-1308309_960_720.jpg');">
                        <div class="eight"></div>
                        <div class="details">
                            <h3>Effect #8</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/girl-1361807_960_720.jpg');">
                        <div class="nine"></div>
                        <div class="details">
                            <h3>Effect #9</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/portrait.jpg');">
                        <div class="ten i"></div>
                        <div class="ten ii"></div>
                        <div class="ten iii"></div>
                        <div class="ten iv"></div>
                        <div class="details">
                            <h3>Effect #10</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/baby-1399332_960_720.jpg');">
                        <div class="eleven i"></div>
                        <div class="eleven ii"></div>
                        <div class="eleven iii"></div>
                        <div class="eleven iv"></div>
                        <div class="details">
                            <h3>Effect #11</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/flower.jpg');">
                        <div class="twelve i"></div>
                        <div class="twelve ii"></div>
                        <div class="twelve iii"></div>
                        <div class="twelve iv"></div>
                        <div class="details">
                            <h3>Effect #12</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/cloves-1367675_960_720.jpg');">
                        <div class="thirteen-l"></div>
                        <div class="thirteen-r"></div>
                        <div class="details">
                            <h3>Effect #13</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/boy-1397793_960_720.jpg');">
                        <div class="fourteen-l"></div>
                        <div class="fourteen-r"></div>
                        <div class="details opticy">
                            <h3>Effect #14</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
                <div class="bg-items">
                    <div class="items" style="background-image : url('assets/images/img/baby-1399332_960_720.jpg');">
                        <div class="t"></div>
                        <div class="r"></div>
                        <div class="b"></div>
                        <div class="l"></div>
                        <div class="details opticy">
                            <h3>Effect #15</h3>
                            <p>Fusce eros mauris, vehicula vel rhoncus id, accumsan at justo. Nulla nec ex mollis, rhoncus quam quis, feugiat quam. Donec auctor turpis ex, a pretium tellus mollis sed. Nam vehicula libero at nulla euismod.</p>
                            <h6>Date: 5/5/2016</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>