<div class="grid">
    <figure class="effect-zoe">
        <img src="/assets/images/img/25.jpg" alt="img25" />
        <figcaption>
            <h2>Creative <span>Zoe</span></h2>
            <p class="icon-links">
                <a href="#"><span class="icon-heart"></span></a>
                <a href="#"><span class="icon-eye"></span></a>
                <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
        </figcaption>
    </figure>
    <figure class="effect-zoe">
        <img src="/assets/images/img/26.jpg" alt="img26" />
        <figcaption>
            <h2>Creative <span>Zoe</span></h2>
            <p class="icon-links">
                <a href="#"><span class="icon-heart"></span></a>
                <a href="#"><span class="icon-eye"></span></a>
                <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
            <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
        </figcaption>
    </figure>
</div>