<div class="grid">
    <figure class="effect-roxy">
        <img src="/assets/images/img/15.jpg" alt="img15" />
        <figcaption>
            <h2>Charming <span>Roxy</span></h2>
            <p>Roxy was my best friend. She'd cross any border for me.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-roxy">
        <img src="/assets/images/img/1.jpg" alt="img01" />
        <figcaption>
            <h2>Charming <span>Roxy</span></h2>
            <p>Roxy was my best friend. She'd cross any border for me.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>