<div class="grid">
    <figure class="effect-milo">
        <img src="/assets/images/img/11.jpg" alt="img11" />
        <figcaption>
            <h2>Faithful <span>Milo</span></h2>
            <p>Milo went to the woods. He took a fun ride and never came back.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-milo">
        <img src="/assets/images/img/3.jpg" alt="img03" />
        <figcaption>
            <h2>Faithful <span>Milo</span></h2>
            <p>Milo went to the woods. He took a fun ride and never came back.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>