<div class="grid">
    <figure class="effect-ruby">
        <img src="/assets/images/img/13.jpg" alt="img13" />
        <figcaption>
            <h2>Glowing <span>Ruby</span></h2>
            <p>Ruby did not need any help. Everybody knew that.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-ruby">
        <img src="/assets/images/img/14.jpg" alt="img14" />
        <figcaption>
            <h2>Glowing <span>Ruby</span></h2>
            <p>Ruby did not need any help. Everybody knew that.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>