<div class="grid">
    <figure class="effect-bubba">
        <img src="/assets/images/img/2.jpg" alt="img02" />
        <figcaption>
            <h2>Fresh <span>Bubba</span></h2>
            <p>Bubba likes to appear out of thin air.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-bubba">
        <img src="/assets/images/img/16.jpg" alt="img16" />
        <figcaption>
            <h2>Fresh <span>Bubba</span></h2>
            <p>Bubba likes to appear out of thin air.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>