<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<div class="content">

    <div class="box">
        <div style="--v: 1;"> <img src="assets/images/3.jpg"> </div>
        <div style="--v: 2;"> <img src="assets/images/4.jpg"> </div>
        <div style="--v: 3;"> <img src="assets/images/5.jpg"> </div>
        <div style="--v: 4;"> <img src="assets/images/6.jpg"> </div>
        <div style="--v: 5;"> <img src="assets/images/7.jpg"> </div>
        <div style="--v: 6;"> <img src="assets/images/8.jpg"> </div>
        <div style="--v: 7;"> <img src="assets/images/9.jpg"> </div>
        <div style="--v: 8;"> <img src="assets/images/6.jpg"> </div>
    </div>

</div>